li {
    margin-left: 4em;
    margin-right: 4em;
    width: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker-item img {

    border-radius: 50%;
    width: 12.5em;
}

[dir='ltr'].react-multi-carousel-list {
    direction: rtl !important;
}